<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @eventcategory.name %>
</p>

<%= link_to 'Edit', edit_eventcategory_path(@eventcategory) %> |
<%= link_to 'Back', eventcategories_path %>
